Raspberry_Pi/Node RED/Node-Red import flow.txt
[{"id":"e2ec93bf.67d16","type":"subflow","name":"camera","info":"Gestion de la prise de photo","in":[{"x":60,"y":80,"wires":[{"id":"e0978a89.921ac8"}]}],"out":[]},{"id":"e010a1ee.60ac8","type":"exec","z":"e2ec93bf.67d16","command":"cd /home/pi/Documents/Robot-ENSEA && raspistill -w 600 -h 400 -o ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":80,"wires":[[],[],[]]},{"id":"e0978a89.921ac8","type":"function","z":"e2ec93bf.67d16","name":"","func":"msg.payload = msg.args\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["e010a1ee.60ac8"]]},{"id":"7eddcdcd.165b64","type":"subflow","name":"shutdown","info":"Extinction programmée de la Raspberry Pi,\net donc du système entier.","in":[{"x":188.33333015441895,"y":198.33332443237305,"wires":[{"id":"19e4cf20.f2cbc1"}]}],"out":[]},{"id":"19e4cf20.f2cbc1","type":"exec","z":"7eddcdcd.165b64","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":463.3333206176758,"y":197.50000381469727,"wires":[[],[],[]]},{"id":"d160ec40.5b30e","type":"subflow","name":"Ultrasound","info":"Gestion des SONARs.","in":[{"x":80,"y":220,"wires":[{"id":"7771b55c.3e968c"}]}],"out":[{"x":760,"y":220,"wires":[{"id":"130ff959.831b17","port":0},{"id":"46191e0c.f16bd","port":0},{"id":"f7486776.87b3e8","port":0},{"id":"7a5bd97.4fd6928","port":0}]}]},{"id":"7771b55c.3e968c","type":"switch","z":"d160ec40.5b30e","name":"","property":"args","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":290,"y":220,"wires":[["130ff959.831b17"],["46191e0c.f16bd"],["f7486776.87b3e8"],["7a5bd97.4fd6928"],[]]},{"id":"130ff959.831b17","type":"function","z":"d160ec40.5b30e","name":"1","func":"msg.payload = \"u_1\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[[]]},{"id":"46191e0c.f16bd","type":"function","z":"d160ec40.5b30e","name":"2","func":"msg.payload = \"u_2\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[[]]},{"id":"f7486776.87b3e8","type":"function","z":"d160ec40.5b30e","name":"3","func":"msg.payload = \"u_3\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[[]]},{"id":"7a5bd97.4fd6928","type":"function","z":"d160ec40.5b30e","name":"4","func":"msg.payload = \"u_4\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[[]]},{"id":"73d4c6fc.b7ed58","type":"subflow","name":"Carb mono","info":"Gestion de la sonde à monoxyde de carbone.","in":[{"x":100,"y":260,"wires":[{"id":"4d988024.e7367"}]}],"out":[{"x":820,"y":260,"wires":[{"id":"2b80a34a.b8a9ec","port":0},{"id":"b79e3f81.cbe92","port":0}]}]},{"id":"4d988024.e7367","type":"switch","z":"73d4c6fc.b7ed58","name":"","property":"args","propertyType":"msg","rules":[{"t":"eq","v":"value","vt":"str"},{"t":"eq","v":"warn","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":330,"y":260,"wires":[["b79e3f81.cbe92"],["2b80a34a.b8a9ec"],[]]},{"id":"b79e3f81.cbe92","type":"function","z":"73d4c6fc.b7ed58","name":"Value","func":"msg.payload = \"cm_val\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[[]]},{"id":"2b80a34a.b8a9ec","type":"function","z":"73d4c6fc.b7ed58","name":"Warning","func":"msg.payload = \"cm_warn\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[[]]},{"id":"acc0fb2f.c8f248","type":"subflow","name":"Press_tmp","info":"Gestion du capteur de température/pression.","in":[{"x":140,"y":260,"wires":[{"id":"72d0350b.89c25c"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"3740cc45.a498c4","port":0},{"id":"d22a4282.c77e9","port":0},{"id":"b7e39d07.52ed9","port":0},{"id":"7b2abba0.36ab44","port":0},{"id":"ee8d9964.0a8098","port":0},{"id":"13a68b10.c7fc65","port":0}]}]},{"id":"72d0350b.89c25c","type":"switch","z":"acc0fb2f.c8f248","name":"","property":"args","propertyType":"msg","rules":[{"t":"eq","v":"256","vt":"str"},{"t":"eq","v":"512","vt":"str"},{"t":"eq","v":"1024","vt":"str"},{"t":"eq","v":"2048","vt":"str"},{"t":"eq","v":"4096","vt":"str"},{"t":"eq","v":"reset","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":330,"y":260,"wires":[["3740cc45.a498c4"],["d22a4282.c77e9"],["b7e39d07.52ed9"],["7b2abba0.36ab44"],["ee8d9964.0a8098"],["13a68b10.c7fc65"],[]],"outputLabels":["","","","","","unknown command",null]},{"id":"3740cc45.a498c4","type":"function","z":"acc0fb2f.c8f248","name":"OSR 256","func":"msg.payload = \"pt_r_256\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[[]]},{"id":"d22a4282.c77e9","type":"function","z":"acc0fb2f.c8f248","name":"OSR 512","func":"msg.payload = \"pt_r_512\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[[]]},{"id":"b7e39d07.52ed9","type":"function","z":"acc0fb2f.c8f248","name":"OSR 1024","func":"msg.payload = \"pt_r_1024\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[[]]},{"id":"7b2abba0.36ab44","type":"function","z":"acc0fb2f.c8f248","name":"OSR 2048","func":"msg.payload = \"pt_r_2048\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[[]]},{"id":"ee8d9964.0a8098","type":"function","z":"acc0fb2f.c8f248","name":"OSR 4096","func":"msg.payload = \"pt_r_4096\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[[]]},{"id":"13a68b10.c7fc65","type":"function","z":"acc0fb2f.c8f248","name":"Reset","func":"msg.payload = \"pt_reset\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[[]]},{"id":"3cc3ee2a.8fb4f2","type":"subflow","name":"Motor","info":"Gestion des moteurs","in":[{"x":180,"y":200,"wires":[{"id":"ec632d9f.c150c"}]}],"out":[{"x":800,"y":200,"wires":[{"id":"950d05d8.0e09f8","port":0},{"id":"1703d061.eacb","port":0},{"id":"27af4115.74f52e","port":0},{"id":"7e5341f1.eae0c","port":0},{"id":"bd664042.2aceb","port":0},{"id":"252bc244.4af8ce","port":0}]}]},{"id":"ec632d9f.c150c","type":"switch","z":"3cc3ee2a.8fb4f2","name":"","property":"args","propertyType":"msg","rules":[{"t":"eq","v":"forward","vt":"str"},{"t":"eq","v":"backward","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"right","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":370,"y":200,"wires":[["950d05d8.0e09f8"],["1703d061.eacb"],["27af4115.74f52e"],["7e5341f1.eae0c"],["bd664042.2aceb"],["252bc244.4af8ce"],[]]},{"id":"950d05d8.0e09f8","type":"function","z":"3cc3ee2a.8fb4f2","name":"forward","func":"msg.payload = \"m_f\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":80,"wires":[[]]},{"id":"1703d061.eacb","type":"function","z":"3cc3ee2a.8fb4f2","name":"backward","func":"msg.payload = \"m_b\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":120,"wires":[[]]},{"id":"27af4115.74f52e","type":"function","z":"3cc3ee2a.8fb4f2","name":"stop","func":"msg.payload = \"m_s\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[[]]},{"id":"7e5341f1.eae0c","type":"function","z":"3cc3ee2a.8fb4f2","name":"left","func":"msg.payload = \"m_l\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[[]]},{"id":"bd664042.2aceb","type":"function","z":"3cc3ee2a.8fb4f2","name":"right","func":"msg.payload = \"m_r\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[[]]},{"id":"252bc244.4af8ce","type":"function","z":"3cc3ee2a.8fb4f2","name":"status","func":"msg.payload = \"m_stat\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[[]]},{"id":"cd5762b0.9cae","type":"subflow","name":"init","info":"Gestion de l'initialisation avec :\n- Mise à jour de l'horloge ;\n- téléchargement des logs.","in":[{"x":200,"y":180,"wires":[{"id":"cbe03b4a.abbe48"}]}],"out":[]},{"id":"cbe03b4a.abbe48","type":"function","z":"cd5762b0.9cae","name":"Time format","func":"// Create a Date object from the payload\nvar time = Number(msg.args);\nvar date = new Date(time);\n// Change the payload to be a formatted Date string\nmsg.payload = \"'\"+date.toString()+\"'\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["8441b281.c5c3b"]]},{"id":"8441b281.c5c3b","type":"exec","z":"cd5762b0.9cae","command":"/usr/bin/sudo date -s ","addpay":true,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"","x":560,"y":240,"wires":[[],["1c4fe1a2.e49fce"],[]]},{"id":"1c4fe1a2.e49fce","type":"function","z":"cd5762b0.9cae","name":"Error","func":"node.error(\"Unable to change time date\",msg);","outputs":1,"noerr":0,"x":770,"y":320,"wires":[[]]},{"id":"9b535cea.a014b","type":"function","z":"d191dd66.61281","name":"CMD Split Function","func":"var parts = msg.payload.split(\":\");\nmsg.cmd = parts[0];\nmsg.args = parts[1];\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":300,"wires":[["ea3f3ecf.8dfa3"]],"inputLabels":["cmd"],"outputLabels":["diagnostic"]},{"id":"1701379c.5794b8","type":"tcp in","z":"d191dd66.61281","name":"From OP","server":"server","host":"","port":"63744","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":220,"wires":[["9b535cea.a014b"]]},{"id":"666c2f3e.e821a","type":"tcp out","z":"d191dd66.61281","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"To OP","x":950,"y":560,"wires":[]},{"id":"ea3f3ecf.8dfa3","type":"switch","z":"d191dd66.61281","name":"","property":"cmd","propertyType":"msg","rules":[{"t":"eq","v":"init","vt":"str"},{"t":"eq","v":"diagnose","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"ultrasnd","vt":"str"},{"t":"eq","v":"press_tp","vt":"str"},{"t":"eq","v":"carbmono","vt":"str"},{"t":"eq","v":"motor","vt":"str"},{"t":"eq","v":"file","vt":"str"},{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"shutdown","vt":"str"},{"t":"eq","v":"camera","vt":"str"},{"t":"else"}],"checkall":"false","outputs":12,"x":470,"y":300,"wires":[["5791dc34.452bd4"],["6054179c.f2ff88"],[],["84ab6af4.3430c8"],["173e7eb4.52e781"],["1f70dbe4.c5fe94"],["c91b9734.b8ad88"],[],["16c00ed6.02e171"],["5219fac5.5d9bb4"],["f4b0a5a7.6546c8"],["e03f4e93.b8077"]],"inputLabels":["cmd"],"outputLabels":["init","diagnostic","mode","ultrasound","pressure - temp","carbon monoxyde","manage motor","manage files","ping !","shutdown","camera","unknown cmd"]},{"id":"5791dc34.452bd4","type":"subflow:cd5762b0.9cae","z":"d191dd66.61281","name":"","x":638.3333129882812,"y":103.33330917358398,"wires":[]},{"id":"92c9b181.feaa","type":"inject","z":"d191dd66.61281","name":"TEST IN","topic":"","payload":"shutdown","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":400,"wires":[["9b535cea.a014b"]]},{"id":"16c00ed6.02e171","type":"function","z":"d191dd66.61281","name":"Pong !","func":"msg.payload = \"pong\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":656.666633605957,"y":409.9999724626541,"wires":[["666c2f3e.e821a","4d16237a.27c53c"]]},{"id":"c91b9734.b8ad88","type":"subflow:3cc3ee2a.8fb4f2","z":"d191dd66.61281","name":"","x":648.3333129882812,"y":343.333309173584,"wires":[["801c03f0.5acc5"]]},{"id":"173e7eb4.52e781","type":"subflow:acc0fb2f.c8f248","z":"d191dd66.61281","name":"","x":658.3333129882812,"y":263.333309173584,"wires":[["801c03f0.5acc5"]]},{"id":"1f70dbe4.c5fe94","type":"subflow:73d4c6fc.b7ed58","z":"d191dd66.61281","name":"","x":658.3333129882812,"y":303.333309173584,"wires":[["801c03f0.5acc5"]]},{"id":"84ab6af4.3430c8","type":"subflow:d160ec40.5b30e","z":"d191dd66.61281","name":"","x":658.3333129882812,"y":223.33330917358398,"wires":[["801c03f0.5acc5"]]},{"id":"6054179c.f2ff88","type":"function","z":"d191dd66.61281","name":"Diagnose","func":"msg.payload = \"diag\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":648.3333129882812,"y":145.33330917358398,"wires":[["801c03f0.5acc5"]]},{"id":"801c03f0.5acc5","type":"serial out","z":"d191dd66.61281","name":"","serial":"fa874975.5ddfd8","x":978.3333129882812,"y":263.333309173584,"wires":[]},{"id":"5e879187.688fa","type":"serial in","z":"d191dd66.61281","name":"","serial":"fa874975.5ddfd8","x":648.3333129882812,"y":623.333309173584,"wires":[["4d16237a.27c53c","666c2f3e.e821a"]]},{"id":"e03f4e93.b8077","type":"function","z":"d191dd66.61281","name":"Unknown Command","func":"msg.payload = \"Unknown Command\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":560,"wires":[["666c2f3e.e821a","4d16237a.27c53c"]]},{"id":"5219fac5.5d9bb4","type":"subflow:7eddcdcd.165b64","z":"d191dd66.61281","name":"","x":651.6666526794434,"y":458.33331775665283,"wires":[]},{"id":"4d16237a.27c53c","type":"debug","z":"d191dd66.61281","name":"","active":true,"console":"false","complete":"false","x":939.6333465576172,"y":471.333309173584,"wires":[]},{"id":"f4b0a5a7.6546c8","type":"subflow:e2ec93bf.67d16","z":"d191dd66.61281","x":637.1000366210938,"y":504.79999923706055,"wires":[]},{"id":"fa874975.5ddfd8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]